apiVersion: v1
kind: Secret
metadata:
  name: openstack-provider-config
  namespace: crossplane-system
type: Opaque
stringData:
  config: |
    {
      "application_credential_id":"appcred_id",
      "application_credential_secret":"appcred_secret",
      "auth_url":"https://identity.openstack.example/"
    }
